<div *ngIf="!current">
  no data
</div>

<div *ngIf="current">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="66%" class="mat-title no-margin">{{current?.city}}, {{current?.country}}
    </div>
    <div fxFlex class="mat-h3 no-margin right">
      {{current.date | date:'EEEE'}}<br>
      {{current.date | date:'MMM d'}}{{getOrdinal(current.date)}}
    </div>
  </div>


  <div fxLayout="row" style="margin-top: 10px;">
    <div fxFlex="66%">
      <img style="zoom: 175%" [src]='current?.image' [alt]="current.description">
    </div>

    <div fxFlex class="mat-display-3 no-margin right">
      {{current?.temperature | number:'1.0-0'}}˚F</div>
  </div>

  <div fxLayoutAlign="center mat-caption">
    {{current?.description}}
  </div>

</div>
